corpEmail/src/wsdl/localhost/corpEmail/wsUsuarios.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="usuarioConect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioConectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioConectResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="usuarioConectSoapIn">
    <wsdl:part name="parameters" element="tns:usuarioConect" />
  </wsdl:message>
  <wsdl:message name="usuarioConectSoapOut">
    <wsdl:part name="parameters" element="tns:usuarioConectResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUsuariosSoap">
    <wsdl:operation name="usuarioConect">
      <wsdl:input message="tns:usuarioConectSoapIn" />
      <wsdl:output message="tns:usuarioConectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUsuariosSoap" type="tns:wsUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="usuarioConect">
      <soap:operation soapAction="http://tempuri.org/usuarioConect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUsuariosSoap12" type="tns:wsUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="usuarioConect">
      <soap12:operation soapAction="http://tempuri.org/usuarioConect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUsuarios">
    <wsdl:port name="wsUsuariosSoap" binding="tns:wsUsuariosSoap">
      <soap:address location="http://localhost/corpEmail/wsUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUsuariosSoap12" binding="tns:wsUsuariosSoap12">
      <soap12:address location="http://localhost/corpEmail/wsUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>