corpEmail/src/wsdl/localhost/wsEmailCorp/wsEmailEnviado.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="newEmailEnviado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUserEnvia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUserRecibe" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="asuntEnvia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoCuerpo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newEmailEnviadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newEmailEnviadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="newEmailEnviadoSoapIn">
    <wsdl:part name="parameters" element="tns:newEmailEnviado" />
  </wsdl:message>
  <wsdl:message name="newEmailEnviadoSoapOut">
    <wsdl:part name="parameters" element="tns:newEmailEnviadoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsEmailEnviadoSoap">
    <wsdl:operation name="newEmailEnviado">
      <wsdl:input message="tns:newEmailEnviadoSoapIn" />
      <wsdl:output message="tns:newEmailEnviadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEmailEnviadoSoap" type="tns:wsEmailEnviadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newEmailEnviado">
      <soap:operation soapAction="http://tempuri.org/newEmailEnviado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEmailEnviadoSoap12" type="tns:wsEmailEnviadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newEmailEnviado">
      <soap12:operation soapAction="http://tempuri.org/newEmailEnviado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEmailEnviado">
    <wsdl:port name="wsEmailEnviadoSoap" binding="tns:wsEmailEnviadoSoap">
      <soap:address location="http://localhost/wsEmailCorp/wsEmailEnviado.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEmailEnviadoSoap12" binding="tns:wsEmailEnviadoSoap12">
      <soap12:address location="http://localhost/wsEmailCorp/wsEmailEnviado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>